/* font-family: 'Love Ya Like A Sister', cursive;
   font-family: 'Londrina Solid', cursive;
   font-family: 'Delius', cursive; */
body{
    font-family: 'Delius', cursive;
    margin: 0;
    padding: 0;
    color: white;
}

.navbar{
    margin-top: 10px;
    border-radius: 5px;
}

.navbar-brand{
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: larger;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold;
}

.nav-menu span{
    margin: 0 10px;
}

a{
    color: inherit;
}

a:hover{
    text-decoration: none;
    color: inherit;
}

.nav-link{
    transition: 0.4s;
}

.nav-link:hover{
    transition: 0.2s;
    transform: scale(1.05);
}

img{
    max-height: 400px !important;
    width: auto;
    border-radius: 5px;
}

.carousel{
    margin-top: 20px;
    border-radius: 5px;
}

.card-deck{
    margin-top: 20px;
}

.card-title{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    border-bottom: solid 1px black;
}

.card{
    min-width: 30% !important;
    margin-top: 10px;
    max-width: 30% !important;
    color: black;
    text-align: center;
    transition: 0.4s;
}

.card:hover{
    transition: 0.2s;
    transform: scale(1.07);
}

h1{
    display: block;
    margin: 10px auto;
    text-align: center;
}

.jumbotron{
    margin-top: 20px !important;
    color: black;
}

.text-dark{
    font-family: 'Londrina Solid', cursive;
    letter-spacing: 4px;
    text-transform: uppercase;
}

label{
    margin-top: 10px;
}

.btn{
    display: block;
    margin: 10px auto !important;
    transition: 0.4s;
}

.btn:hover{
    transition: 0.2s;
    transform: scale(1.05);
}
